{{#with footer}}
      <footer>
          <hr>
          <br>
          {{#with social}}
              {{#with email}}
                  {{> link blank=true }}
              {{/with}}
              {{#with phone}}
                  {{> link blank=true }}
              {{/with}}
              {{#with linkedin}}
                  {{> link blank=true noLine=true}}
              {{/with}}
          
          {{/with}}
          <div>
            <em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em>
          </div>
          <br>
          <div>
            <em>{{../header.address}}</em>
          </div>
      </footer>
    {{/with}}